:root {
    --color: rgb(41, 136, 209);
    --another-color: black;
}
h1{
    color: aliceblue;
    margin-bottom:70px;
}

.homeContent {
   

height:30%;
padding-top: 100px;
padding-left: 35%;
background-image:linear-gradient(black, gray), url("https://source.unsplash.com/svbDI1Pq30s");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
background-blend-mode: multiply;
height: 100vh;
}
/* .loader1, .loader2, body {
display: flex;
align-items: center;
justify-content: center;
} */
.loader1 {
   
width: 380px;
height: 380px;
background-color: var(--another-color);
border-left: 10px solid var(--color)!important;
animation-duration: 10s!important;
box-shadow: 2px 2px 50px var(--color)!important;
animation-direction: reverse;
}
.loader2 {
width: 280px;
height: 280px;
background-color: var(--another-color);
border-right: 10px solid var(--color)!important;
animation-duration: 4s!important;
animation-direction: alternate;
}
.loader {
width: 200px;
height: 200px;
background-color: var(--another-color);
border-top: 10px solid var(--color)!important;
animation-duration: 1s!important;
}
.loader1, .loader2, .loader {
z-index: -1;
border-radius: 50%;
border: 10px solid var(--another-color);
animation-name: spinner;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-delay: 1s;
animation-timing-function: linear;
box-shadow: inset 2px 2px 20px var(--color);
}
@keyframes spinner {
from {transform: rotate(0deg);--color: rgb(41, 136, 209);}
to {transform: rotate(360deg);--color: rgb(56, 45, 181);}
}




